<% unless (@subordinate.nil?) %>
  <fieldset>
    <legend><strong><%= l(:label_usability_easy_perplex_issues_header) %></strong></legend>
    <p><span><%= l(:label_usability_easy_perplex_issues_description, user: link_to_user(@subordinate)).html_safe %></span></p>
    <% projects = @projects.select { |it| it.attributes['is_participant'].to_i == 1 } || [] %>
    <% if @projects == [] %>
      <div class="nodata" style="margin-bottom: 0px; padding-left: 4px; text-align: left;">
        <%= l(:text_usability_easy_perplex_subordinate_is_not_participant_of_any_project, user: link_to_user(@subordinate)).html_safe %>
        <div style='padding-top: 5px;'>
          <%= render partial: 'user_for_help' %>
        </div>
      </div>
    <% elsif projects == [] %>
      <div class="nodata" style="margin-bottom: 0px; padding-left: 4px; text-align: left;">
        <%= l(:text_usability_easy_perplex_you_are_not_participant_of_any_project, user: link_to_user(@subordinate)).html_safe %>
        <div style='padding-top: 5px;'>
          <%= render partial: 'user_for_help' %>
        </div>
      </div>
    <% else %>
      <% projects.each do |it| %>
        <div style="margin-bottom: 5px"><%= link_to "<span>#{l(:label_usability_easy_perplex_create_issue, project: it.name, user: @subordinate)}</span>".html_safe, { controller: :issues, action: :new, project_id: it.identifier, executor_id: @subordinate.id, easy_perplex: true }, class: 'no_line' %></div>
      <% end %>
    <% end %>
  </fieldset>
  <% if @department != false %>
    <fieldset>
      <legend><strong><%= l(:label_usability_easy_perplex_sd_requests_header) %></strong></legend>
      <p><span><%= l(:label_usability_easy_perplex_sd_requests_description, user: link_to_user(@subordinate)).html_safe %></span></p>

      <% if @department.is_a?(Hash) && !@department[:types].nil? %>
        <%= link_to "<span>#{l(:label_usability_easy_perplex_create_request, department: @department[:head].name)}</span>".html_safe, { controller: :sd_requests, action: :new, easy_perplex: true, executor_id: @subordinate.id, head_id: @department[:head].id, branch_id: @department[:branch].try(:id) }, class: 'us-btn us-btn-success no_line' %>
      <% else %>
        <div class="nodata" style="margin-bottom: 0px; padding-left: 4px; text-align: left;">
          <%= l(:text_usability_easy_perplex_subordinate_is_not_participant_of_any_service_desk, user: link_to_user(@subordinate)).html_safe %>
          <div style='padding-top: 5px;'>
            <%= render partial: 'user_for_help' %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>
<% end %>