<div class="I" id="usability_user_preferences">
  <%= User.current.try(:preference).try(:usability).nil? ? '' : YAML.load(User.current.preference.usability).inject(''){|s, (k,v)| s << "<div class=\"#{k}\">#{v}</div>"; s.html_safe;} %>
</div>

<div class="I my_name_popover_content">
  <%= link_to(l(:label_settings), { :controller => 'my', :action => 'account' }) %><br/>
  <%= link_to(l(:appearance_and_usability),
        {:controller => 'users', :action => 'edit_usability_preferences', :id => User.current.id},
        :remote => true,
        :method => 'get', :class => 'in_link') %><br/>
  <%= link_to(content_tag(:span, l(:label_logout)), '/logout', :class => 'logout', :data => {:method => 'post'}, :rel => 'nofollow') %>
</div>

<div class="I projects_popover_content">

<% if User.current.logged? %>
  <% favourite_project = User.current.favourite_project %>

  <% if not favourite_project.nil? %>

    <div class="menu_block_title">

      <div class="title"><%= favourite_project.name %></div>
      <div class="grad">&nbsp;</div>
    </div>
    <div class="menu_block">


    <div><%= link_to l(:label_issue_new), { :controller => 'issues', :action => 'new', :copy_from => nil, :project_id => favourite_project }  %></div>

    <%= content_tag(:div, link_to(l(:label_roadmap), { :controller => 'user_roadmaps', :action => 'index', :project_id => favourite_project })) rescue ''  %>

    <div><%= link_to l(:label_issue_plural), { :controller => 'issues', :action => 'index', :project_id => favourite_project }  %></div>

    <% if favourite_project.wiki && !favourite_project.wiki.new_record? %>
      <div><%= link_to l(:label_wiki), { :controller => 'wiki', :action => 'show', :project_id => favourite_project, :id => nil }  %></div>
    <% end %>

    <% if favourite_project.module_enabled?("dmsf") %>
      <%= content_tag(:div, link_to(l(:documents), { :controller => 'dmsf', :action => 'show', :id => favourite_project })) rescue '' %>
    <% end %>

    </div>
  <% end %>
<% end %>

<%= link_to(l(:all_projects), { :controller => 'projects', :action => 'index' }) %>

<% projects = User.current.projects.active %>
<% unless (projects[0].nil?) %>
  <div class="menu_block_title">
    <div class="title"><%= l(:go_to_project_issues) %></div>
    <div class="grad">&nbsp;</div>
  </div>

  <br>
  <div style="max-height: 250px; overflow-y: auto">
  <% project_tree(projects) do |project, level| %>
    <div style="padding-left: <%= level*20 %>px;"><%= link_to project.name, project_path(:id => project, :jump => current_menu_item) %></div>
  <% end %>
  </div>
<% end %>


</div>
