<% defaults = Redmine::Plugin::registered_plugins[:usability].settings[:default] %>
<% settings = (Setting.respond_to?(:plugin_usability) ? Setting.plugin_usability : nil) || {} %>
<% all_settings = {} %>
<% defaults.each{|name, value| all_settings[name] = settings[name] || defaults[name]} %>
<% settings.each{|name, value| all_settings[name] = settings[name] || defaults[name]} %>

<%# Passing plugin settings from server to client %>
<script type="text/javascript">
// <![CDATA[
  RMPlus.Usability = (function(my){
    var my = my || {};

    my.settings = <%= all_settings.to_json.html_safe %>;

    my.galleryPopupSettings = {
      type: 'image',
      gallery: {
        enabled: true,
        navigateByImgClick: true,

        midClick: false,

        arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>',
        tPrev: '<%= l(:magnificPopup_tPrev) %>',
        tNext: '<%= l(:magnificPopup_tNext) %>',
        tCounter: '<%= l(:magnificPopup_tCounter).html_safe %>'
      },
      image: {
        tError: '<%= l(:magnificPopup_tError).html_safe %>'
      },
      ajax: {
       tError: '<%= l(:magnificPopup_ajax_tError).html_safe %>'
      },
      tClose: '<%= l(:magnificPopup_tClose) %>',
      tLoading: '<%= l(:magnificPopup_tLoading) %>'
    };

    return my;
  })(RMPlus.Usability || {});
// ]]>
</script>

<%= javascript_include_tag :raphael %>
<%= javascript_include_tag 'pie-chart', plugin: :usability %>
<%= javascript_include_tag 'usability.js', plugin: :usability %>
<%= stylesheet_link_tag 'usability.css', plugin: :usability %>

<% if settings[:enable_underlined_links] %>
  <%= stylesheet_link_tag 'usability-links.css', plugin: :usability %>
<% end %>

<% if (!controller.nil? && controller.controller_name == 'settings' && controller.action_name == 'plugin') && params[:id] == 'usability' %>
  <%= stylesheet_link_tag 'settings', plugin: 'a_common_libs', media: 'screen' %>
<% end %>

<% if controller.controller_name == 'issues' || controller.controller_name == 'sd_requests' %>
  <%= javascript_include_tag 'jquery.magnific-popup.min.js', plugin: :usability %>
  <%= stylesheet_link_tag 'magnific-popup.css', plugin: :usability %>
<% end %>
