<%= call_hook :view_account_login_top %>
<div id="login-form">
<%= form_tag(signin_path) do %>
<%= back_url_hidden_field_tag %>

<div>
  <%= text_field_tag 'username', params[:username], tabindex: 1, placeholder: l(:field_login) %>
</div>
<div>
  <%= password_field_tag 'password', nil, tabindex: 2, placeholder: l(:field_password) %>
</div>

<% if Setting.openid? %>
<div>
  <%= text_field_tag "openid_url", nil, tabindex: 3, placeholder: l(:field_identity_url) %>
</div>
<% end %>

<div>
  <% if Setting.autologin? %>
  <label for="autologin"><%= check_box_tag 'autologin', 1, false, tabindex: 4 %> <%= l(:label_stay_logged_in) %></label>
  <% end %>
</div>

<div>
  <% if Setting.lost_password? %>
      <%= link_to l(:label_password_lost), lost_password_path %>
  <% end %>
</div>

<div class="R">
    <input type="submit" name="login" value="<%=l(:button_login)%> &#187;" tabindex="5"/>
</div>

<% end %>
</div>
<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
<%= javascript_tag "$('#password').focus();" %>
<% else %>
<%= javascript_tag "$('#username').focus();" %>
<% end %>

<style>
body { width: 100%; height: 100%; margin: 0px; padding: 0px; }

#login-form
{
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

</style>